@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  [data-nextjs-scroll-focus-boundary] {
    display: contents;
  }
}

/* _Resets */
// :root {
//   font-size: 62.5%;
// }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  // font-family: '-apple-system', BlinkMacSystemFont, 'Malgun Gothic', '맑은 고딕',
  //   'Apple SD Gothic Neo', sans-serif;
  //font-size: 1.6rem;
}

a {
  text-decoration: none;
}

/* Common */
.flexbox-center {
  @apply flex justify-center items-center;
}

.flexbox-between {
  @apply flex justify-between items-center;
}

.input-placeholder {
  @apply placeholder:text-caption1 placeholder:-translate-y-1;
}
